<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Is homepage:</strong>
  <%= @page.is_homepage %>
</p>

<p>
  <strong>Is dashboard:</strong>
  <%= @page.is_dashboard %>
</p>

<p>
  <strong>Requires authentication:</strong>
  <%= @page.requires_authentication %>
</p>

<p>
  <strong>Header html:</strong>
  <%= @page.header_html %>
</p>

<p>
  <strong>Is in nav:</strong>
  <%= @page.is_in_nav %>
</p>

<p>
  <strong>Body html:</strong>
  <%= @page.body_html %>
</p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
